.community-board {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.community-board-grey {
  background-color: #fff0ec;
  border-radius: 10px;
  padding: 30px;
}

.community-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
}

.header-move {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .community-board {
    width: 80%;
    margin-left: 5%;
  }

  .community-list {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .header-move {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-move h2 {
    margin-bottom: 10px;
  }
}
