.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.loginTitle {
  font-size: 1.875rem; /* 30px */
  font-weight: 600;
  text-align: center;
}

.formContainer {
  padding: 1.5rem; /* 24px */
  background-color: white;
  border-radius: 0.375rem; /* 6px */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loginForm {
  margin-top: 1.5rem;
}

.formGroup {
  margin-bottom: 0.5rem;
}

.formLabel {
  font-size: 0.875rem; /* 14px */
  font-weight: 600;
  color: #4a5568;
}

.formInput {
  width: 100%;
  /* padding: 0.5rem 1rem; */
  /* padding: 0px 0.5rem 0px 0.5rem; */
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-top: 0.5rem;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem; /* 6px */
}

.errorText {
  color: #f56565;
}

.submitContainer {
  margin-top: 1.5rem;
}

.submitButton {
  width: 100%;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem; /* 8px 16px */
  border-radius: 0.375rem; /* 6px */
  transition: background-color 200ms;
  cursor: pointer;
  margin-top: 50px;
}

.submitButton:hover {
  background-color: #4a5568;
}

.signupPrompt {
  font-size: 0.75rem; /* 12px */
  font-weight: 300;
  text-align: center;
  color: #4a5568;
  margin: 10px;
}

.social-login {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  margin-top: 50px;
  margin-bottom: 50px;
}

.social-login .each-login-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.social-login .each-login {
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .each-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
