.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9eb0a2;

  padding: 20px;
}

.header-container h3 {
  color: white;
}

.header-container h1 {
  font-size: 3em;
  color: #3b4a3f;
}
