.cropBoxArea-wrapper {
  width: 100%;
}

.cropBoxArea {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (max-width: 768px) {
  .cropBoxArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
