.cropbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: 1px solid #d9d9d9;
  border-radius: 10px;

  margin: 20px;

  cursor: pointer;
}

.cropbox-container {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
}

.image {
  width: 200px;
  height: 200px;
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
}

.name {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
