.input-container {
  display: flex;
  gap: 20px;
  align-content: center;
}

.input-container .title {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-self: center;
  width: 15%;
}

.each-text {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  box-sizing: border-box;
}

.input-select-container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.each-select {
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.each-select:hover {
  background-color: #f0f0f0;
}

.each-select-selected {
  background-color: #1fab70;
  color: white;
  border: 1px solid #1fab70;
}

@media (max-width: 768px) {
  .input-container {
    display: flex;
    flex-direction: column;
  }

  .input-container .title {
    width: 100%;
  }

  .input-select-container {
    display: flex;
    flex-direction: column;
  }
}
