.progress {
  width: 100%;
  margin-bottom: 50px;
}

.progress .circle-bar-container {
  width: 100%;
  display: flex;
  /* gap: 0px; */
  align-items: center;
}

.progress .circle {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #d9d9d9;

  position: relative;
  z-index: 2;
}

.progress .circle-active {
  background-color: #ed988f;
}

.progress .circle-on {
  background-color: #ed988f;
}
.progress .bar {
  height: 5px;
  width: 45%;
  background-color: #d9d9d9;

  margin-left: -5px;
  margin-right: -5px;

  position: relative;
  z-index: 1;

  transition: background-color 2s ease;
}

.progress .bar-active {
  background-color: #ed988f;
}

.progress .step-name-container {
  display: flex;
  justify-content: space-between;
  margin-left: -5%;
}
