/* .careGuide .eachGuide {
  background-color: black;
} */

.careGuide .eachGuide .eachGuide-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.careGuide .eachGuide {
  margin: 50px 20px 50px 20px;
}
.careGuide .eachGuide .eachGuide-content {
  background-color: white;
  border: 1px solid #1fab70;
  border-radius: 15px;
  padding: 20px;

  white-space: pre-wrap;
}

.careGuide .eachGuide .eachGuide-content .month-container {
  display: flex;
  justify-content: space-around;
}

.careGuide .eachGuide .eachGuide-content .month-container .month {
  background-color: #ffe5de;
  padding: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 15px;
}

.careGuide .eachGuide .tip {
  background-color: #f7e1e1;
  border: 1px solid red;
}
