.detailInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.detailInfoContainer .button-container {
  display: flex;
  gap: 30px;
}

.detail-info {
  margin-top: 100px;
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-info .detail-content-container {
  width: 80%;
  padding: 50px 20px 50px 20px;
  background-color: #ebf9ee;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .detailInfoContainer .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .detail-info {
    width: 100%;
  }
}
