.selectContainer {
  width: 100%;
}

.select-container {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 50px;
}

.select {
  width: 300px;
  height: 300px;

  background-color: #c8e8cf;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: none;
}

.button-container-text {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

@media (max-width: 768px) {
  .select {
    width: 100px;
    height: 100px;
  }
}
